includes:
    - %currentWorkingDirectory%/vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        -
            identifier: class.missingExtends
            path: src/fields/formie/ClientType.php
